<!-- 
 Name : Pankaj Sharma
 Id:301239159
 Date:5th february 2022


-->


<!-- <p>This is footer</p> -->
<script src="../../node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../public/javascripts/appclient.js"></script>
