<!-- 
 Name : Pankaj Sharma
 Id:301239159
 Date:5th february 2022


-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/stylesheets/style.css">

  <link rel='stylesheet' href='@fortawesome/fontawesome-free/css/all.min.css' />


  <style>
   


    #myVideo {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    </style>
</head>
<body>
  <!-- Main Nav bar  -->
  <nav class="navbar navbar-expand-sm bg-black navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="/images/Logo.png" alt="logo" style="width:50px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <% if (title == "Home") { %>
            <a class="nav-link active" href="/">
        <% } else { %>
            <a class="nav-link" href="/">
        <% } %>            
            <i class="fas fa-home"></i> Home </a>
        </a>
      </li>
      <li class="nav-item">
        <% if (title == "Projects") { %>
            <a class="nav-link active" href="/projects">
        <% } else { %>
            <a class="nav-link" href="/projects">
        <% } %>            
            <i class="fas fa-project-diagram"></i> Projects </a>
        </a>
    </li>
    <li class="nav-link-desktop w-nav-link">
      <% if (title == "services") { %>
          <a class="nav-link active" href="/services">
      <% } else { %>
          <a class="nav-link" href="/services">
      <% } %>            
      <i class="fab fa-servicestack"></i> Services </a>
      </a>
    </li>
      </li>
      <li class="nav-item">
        <% if (title == "About") { %>
            <a class="nav-link active" href="/about">
        <% } else { %>
            <a class="nav-link" href="/about">
        <% } %>            
            <i class="fas fa-home"></i> About </a>
        </a>
      </li>
      <li class="nav-item">
        <% if (title == "Contact me") { %>
            <a class="nav-link active" href="/contactme">
        <% } else { %>
            <a class="nav-link" href="/contactme">
        <% } %>            
            <i class="fas fa-user"></i> Connect </a>
        </a>
      </li>


      <% if (title == "Business Contact List"){ %>
        <li class="nav-item active">
     <% } else {%>
      <li class="nav-item ">
       <% } %>
        <a class="nav-link" href="/business-contact-list" ><i class="fas fa-address-book"></i> Business Contact List </a>
      </li>

      <% if(typeof displayName == 'string' && displayName) { %>
      <li class="navbar-text"><i class="fas fa-lg fa-user"></i>Welcome,<%= displayName %></li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">
          <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
  <%  }else{ %>
      <li class="nav-item">
        <a href="/login" class="nav-link">
          <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
    <% } %>
      
    </ul>
  </nav>

  <video autoplay muted loop id="myVideo">
    <source src="images/myvideo.mp4" type="video/mp4">
  </video>
