<!-- 
 Name : Pankaj Sharma
 Id:301239159
 Date:5th february 2022


-->


<% include partials/header.ejs %>
<style>
div.texxt  {
    font-size: 1rem;
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold; 
    
  }

</style>

<div style="text-align: center;color:black;text-decoration-line: underline;">
    <h1>About Me</h1>
    </div>
    <br><br><br>
   <div class="texxt">
    <div class="row" >
        <div class="column" style="margin-left: 5%; height : 50px; width : 62px;">
            <img src="/images/profile2.jpg" class="rounded float-left" alt="unable to load image">
        
        </div>
        <div class="column" style="position : relative; margin-top:1%; margin-left: 15%; max-width: 65%;">
            <h4>
                <p>My name is Pankaj Sharma. I am from India </p>
                <p>I have completed my Bachelors in Computer Applications and currently ,I am studying at Centennial college with major in Artificial Intelligence.</p>
                <p>I love to learn new technologies or coding.I like to think new ideas and  experiment with on them before implementation.</p>
                <p>Apart from that,i love to play games and watch Sports.</p>
          	  <p>  <a href="https://drive.google.com/file/d/1fB8wu0oY4oix_MWneEU-HATiMQFbnugg/view?usp=sharing" target="_blank"> <u> Here </u> </a> is my Resume. </p>
            </h4>   
       </div>
       </div>






<% include partials/footer.ejs %>