<% include partials/header.ejs %>


<div style="text-align: center;color:black;text-decoration-line: underline;">
    <h1>Projects</h1>
    </div>
    <br><br><br><br><br>

         
         
   
    <div class="row" >
        <div class="column" style="max-width: 20%">
            <img src="images/online-invoicing.jpg" alt="responsive text" style="margin-left: 16%;" ><br><br><br>
        </div>
        <div class="column" style="margin-left: 38%;max-width: 40%">
            <h4 style="font-size: 2rem; color:cyan; font-family: Trebuchet MS; font-weight: bold;">Invoice and Stock Management</h4>
             <p style="font-size: 1rem; color: white; font-family: Trebuchet MS; font-weight: bold;" >This Web Application was built largely focusing on generating invoice and maintaining inventory of
                company.Using this web application makes the daunting task of maintaining inventory and invoices comparatively easy.It provides the option to send the invoices directly to the customer.<br>
                <br>
               <i> Technology Used: HTML / CSS, Python with Django and Sqlite.</i></p>
            </div>
        </div>



<% include partials/footer.ejs %>