<% include partials/header.ejs %>



<div style="font-size: 2rem; text-align:center; color: cyan; font-family: Trebuchet MS; font-weight: bold;">
    <h1>Service offered by me</h1>
    </div>
    <br><br><br><br><br>
  
<div class="row" >
    
    <div class="column" style="margin-left: 20%;">
        <img src="/images/Artificial-Intelligence-5.jpg" alt="responsive text" style="   border-radius: 15px">&nbsp;&nbsp;<img src="/images/programming.jpg" alt="responsive text" style="   border-radius: 15px"><br><br>
        <h4  style="font-size: 1rem;   color: white; font-family: Trebuchet MS; font-weight: bold;">Website Development &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             Programming</h4>
        </div>

   
</div>






<% include partials/footer.ejs %>